.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10px;
}
.home-heading{
    font-size: 36px;
    font-family: "Roboto";
}
.list-container{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.list-item{
    margin: 20px;
}
.product-image{
    width: 250px;
    height: 200px;
    border-radius: 6px;
    border: 2px solid gray;
}
.nav-link{
     text-decoration: none;
}
.search-box{
   width: 250px;
   height: 30px;
   border-radius: 4px;
   outline: none;
}